<!DOCTYPE html>
html(lang="es")
	head
		meta(charset="UTF-8")
		title ProyImagHome | Inicio
		//- CSS
		link(rel="stylesheet", href="./css/main.css")
	body
		#loader
			#ajax-loader
				.load-container.load6
					.loader Loading....

			#pageTitle Home page
		
		#wrapper
			header#menu-wrapper
				a(href="inicio.html") Inicio
				br
				a(href="nosotros.html") Nosotros

			section#main-wrapper

		//- SCRIPTS
		script(src="./scripts/jquery-1.9.1.min.js")
		script(src="./scripts/jquery-ui-1.10.2.custom.min.js")
		script(src="./scripts/jquery.masonry.min.js")
		script(src="./scripts/main.js")
